html, body{
  height: 100%;
  max-height: 100%;
  font-family: 'Roboto', sans-serif;
}

.div_color_test{
  background-color: #00CCFF;
}

.form-container2 form{
  background-color: #dc5129;
  height: 100%;
  margin-top: 90px;
}

.top-container{
  padding-top: 10%;
}

.general-container{
  background: url('img/bg_img.jpg');
  height: 100%;
}

.general-container form label{
  font-weight: 100;
  color: white;
}

.general-container form{
  margin-top: 30px;
}

.title{
  text-align: center;
  color: white;
  font-weight: 100;
  line-height: 50px;
}

.orange-btn{
  background-color: #e8643e;
  border: none;
}

.orange-btn:hover{
  background-color: #dc5129;
  border: none;
}

.top-container_test{
  margin-top: 20%;
  width: 30%;
  background-color: #cecccc;
  border-radius: 25px;
}

.top-container_test form label{
  display:inline-block;
  text-align: right;
}

.top-container_test form input{
  margin-left: 10%;
  margin-top: 0%;
}

.display1_test{
  text-align: center;
}

.btn-primary_test{
  align-items: center;
  margin-left: 40%;
  margin-bottom: 5%;
}
